In [8]:
import pandas as pd

restaurant = pd.read_csv("data/restaurant_2023.csv", header=0, index_col=None, encoding="utf-8")

restaurant

,restaurant_id,restaurant_name,restaurant_rate,restaurant_category,restaurant_count_seats,restaurant_x,restaurant_y,restaurant_address,restaurant_description,restaurant_contact,restaurant_created_at,restaurant_updated_at,restaurant_image,restaurant_menu
0,000015af-140a-4366-9619-d2a94e36d501,bhc치킨 반월삼성점,1,NaN,49,127.070477,37.228156,"경기도 화성시 삼성1로6길 19 (반월동, 360-20번지)",NaN,NaN,2022-12-03 10:35:35,2022-12-03 10:35:35,NaN,NaN
1,00001ab4-e1b7-45a8-bfeb-694cf1f6893b,밀밭,1,NaN,28,127.149160,37.271302,"경기도 용인시 기흥구 동백중앙로 199, 106호 (중동)",NaN,NaN,2022-12-03 10:35:32,2022-12-03 10:35:32,NaN,NaN
2,00002019-36fc-4b27-87be-00548ec6c264,홍춘이포차,4,NaN,39,126.797864,35.176804,"광주광역시 광산구 용아로379번길 64, 1층 (하남동)",NaN,NaN,2022-12-03 10:34:05,2022-12-06 23:33:51,"{""lastBuildDate"": ""Tue, 06 Dec 2022 23:33:53 +...","{""lastBuildDate"": ""Tue, 06 Dec 2022 23:32:29 +..."
3,0000336e-b29c-4a17-a57a-fd3115be4d90,커피알베로,1,NaN,20,126.664921,37.441782,인천광역시 미추홀구 소성로 173 (학익동),NaN,NaN,2022-12-03 10:36:06,2022-12-03 10:36:06,NaN,NaN
4,0000442c-1ecf-4f6f-8a8d-511f2f49cd34,후식 선릉역점,1,NaN,13,127.055136,37.507409,"서울특별시 강남구 테헤란로 지하 340, 선릉역 지하1층 맞이방 (삼성동)",NaN,NaN,2022-12-03 10:35:49,2022-12-03 10:35:49,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798755,ffffbab0-927f-47dc-b8f5-2669885bf138,황제다방,0,NaN,36,128.558930,35.865237,"대구광역시 서구 평리로 355, 지하1층 (평리동)",NaN,NaN,2022-12-03 10:35:45,2022-12-03 10:35:45,NaN,NaN
798756,ffffd075-7392-4c4e-83a4-28e4622c6ed9,뮤즈,1,NaN,29,127.722961,35.516753,경상남도 함양군 함양읍 함양로 1096,NaN,NaN,2022-12-03 10:35:53,2022-12-03 10:35:53,NaN,NaN
798757,ffffd38e-c858-403e-8c6f-f9579e7b65e6,찜닭마을,5,NaN,88,127.441049,37.280821,"경기도 이천시 서희로60번길 15, 2층 (창전동)",NaN,NaN,2022-12-03 10:35:19,2022-12-03 10:35:19,NaN,NaN
798758,ffffd732-6c4f-4d58-91e0-495bb27f2e13,배터지는고기,5,NaN,70,128.317226,34.975775,경상남도 고성군 고성읍 남포로 141,NaN,NaN,2022-12-03 10:33:44,2022-12-03 10:33:44,NaN,NaN
798759,ffffe3de-7561-4c34-a382-7b8110cdf549,제일식당,0,NaN,30,128.745421,35.249961,경상남도 김해시 진례면 진례로 252,NaN,NaN,2022-12-03 10:35:10,2022-12-03 10:35:10,NaN,NaN

In [10]:
import numpy as np

new_restaurant_header = ["restaurant_id", "restaurant_name", "restaurant_rate","restaurant_category", "restaurant_count_seats", "restaurant_x", "restaurant_y", "restaurant_address", "restaurant_description", "restaurant_contact", "restaurant_image", "restaurant_menu", "restaurant_opening_time_days", "restaurant_opening_time", "restaurant_break_time_days", "restaurant_break_time", "restaurant_created_at", "restaurant_updated_at"]

new_restaurant_data = pd.DataFrame(np.random.randn(1, 18), columns=new_restaurant_header)
new_restaurant_data

,restaurant_id,restaurant_name,restaurant_rate,restaurant_category,restaurant_count_seats,restaurant_x,restaurant_y,restaurant_address,restaurant_description,restaurant_contact,restaurant_image,restaurant_menu,restaurant_opening_time_days,restaurant_opening_time,restaurant_break_time_days,restaurant_break_time,restaurant_created_at,restaurant_updated_at
0,-1.39916,-0.09992,-0.386681,1.865729,0.745613,-0.335075,-0.004127,1.1262,0.087402,0.919203,1.053849,1.269373,1.248984,0.975958,0.062946,-0.277268,-0.655729,0.010495

In [11]:
restaurant.columns

Index(['restaurant_id', 'restaurant_name', 'restaurant_rate',
       'restaurant_category', 'restaurant_count_seats', 'restaurant_x',
       'restaurant_y', 'restaurant_address', 'restaurant_description',
       'restaurant_contact', 'restaurant_created_at', 'restaurant_updated_at',
       'restaurant_image', 'restaurant_menu'],
      dtype='object')

In [12]:
restaurant["restaurant_opening_time_days"] = None

In [13]:
restaurant["restaurant_opening_time"] = None

In [14]:
restaurant["restaurant_break_time_days"] = None

In [15]:
restaurant["restaurant_break_time"] = None

In [16]:
restaurant

,restaurant_id,restaurant_name,restaurant_rate,restaurant_category,restaurant_count_seats,restaurant_x,restaurant_y,restaurant_address,restaurant_description,restaurant_contact,restaurant_created_at,restaurant_updated_at,restaurant_image,restaurant_menu,restaurant_opening_time_days,restaurant_opening_time,restaurant_break_time_days,restaurant_break_time
0,000015af-140a-4366-9619-d2a94e36d501,bhc치킨 반월삼성점,1,NaN,49,127.070477,37.228156,"경기도 화성시 삼성1로6길 19 (반월동, 360-20번지)",NaN,NaN,2022-12-03 10:35:35,2022-12-03 10:35:35,NaN,NaN,None,None,None,None
1,00001ab4-e1b7-45a8-bfeb-694cf1f6893b,밀밭,1,NaN,28,127.149160,37.271302,"경기도 용인시 기흥구 동백중앙로 199, 106호 (중동)",NaN,NaN,2022-12-03 10:35:32,2022-12-03 10:35:32,NaN,NaN,None,None,None,None
2,00002019-36fc-4b27-87be-00548ec6c264,홍춘이포차,4,NaN,39,126.797864,35.176804,"광주광역시 광산구 용아로379번길 64, 1층 (하남동)",NaN,NaN,2022-12-03 10:34:05,2022-12-06 23:33:51,"{""lastBuildDate"": ""Tue, 06 Dec 2022 23:33:53 +...","{""lastBuildDate"": ""Tue, 06 Dec 2022 23:32:29 +...",None,None,None,None
3,0000336e-b29c-4a17-a57a-fd3115be4d90,커피알베로,1,NaN,20,126.664921,37.441782,인천광역시 미추홀구 소성로 173 (학익동),NaN,NaN,2022-12-03 10:36:06,2022-12-03 10:36:06,NaN,NaN,None,None,None,None
4,0000442c-1ecf-4f6f-8a8d-511f2f49cd34,후식 선릉역점,1,NaN,13,127.055136,37.507409,"서울특별시 강남구 테헤란로 지하 340, 선릉역 지하1층 맞이방 (삼성동)",NaN,NaN,2022-12-03 10:35:49,2022-12-03 10:35:49,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798755,ffffbab0-927f-47dc-b8f5-2669885bf138,황제다방,0,NaN,36,128.558930,35.865237,"대구광역시 서구 평리로 355, 지하1층 (평리동)",NaN,NaN,2022-12-03 10:35:45,2022-12-03 10:35:45,NaN,NaN,None,None,None,None
798756,ffffd075-7392-4c4e-83a4-28e4622c6ed9,뮤즈,1,NaN,29,127.722961,35.516753,경상남도 함양군 함양읍 함양로 1096,NaN,NaN,2022-12-03 10:35:53,2022-12-03 10:35:53,NaN,NaN,None,None,None,None
798757,ffffd38e-c858-403e-8c6f-f9579e7b65e6,찜닭마을,5,NaN,88,127.441049,37.280821,"경기도 이천시 서희로60번길 15, 2층 (창전동)",NaN,NaN,2022-12-03 10:35:19,2022-12-03 10:35:19,NaN,NaN,None,None,None,None
798758,ffffd732-6c4f-4d58-91e0-495bb27f2e13,배터지는고기,5,NaN,70,128.317226,34.975775,경상남도 고성군 고성읍 남포로 141,NaN,NaN,2022-12-03 10:33:44,2022-12-03 10:33:44,NaN,NaN,None,None,None,None
798759,ffffe3de-7561-4c34-a382-7b8110cdf549,제일식당,0,NaN,30,128.745421,35.249961,경상남도 김해시 진례면 진례로 252,NaN,NaN,2022-12-03 10:35:10,2022-12-03 10:35:10,NaN,NaN,None,None,None,None

In [19]:
restaurant.to_csv("data/new_restaurant.csv", index=None)